body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#select-container {
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
}

#containers-wrapper {
    display: flex; /* This will place left and right containers side by side */
    flex: 1; /* Take up remaining space */
    overflow: auto; /* Handle any overflow */
}

#left-container, #right-container {
    flex: 1; /* Each container will take up half the space */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.CodeMirror, #input-dict {
    flex: 1;
    margin-bottom: 20px;
}

#input-dict {
    height: 150px;
    resize: vertical;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
}

#output {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-top: 10px;
}
